body, html {
    margin: 0px;
}

header, main {
    margin: auto;
    max-width: 1000px;
}

header{
    text-align: center;
}

main {
    text-align: justify;
}

img {
    width: 350px;
    margin-top: 30px;
    border: 10px solid rgb(243, 243, 243);
    border-radius: 400px;
    box-shadow: 0px 0px 2px 1.5px gray; 
}

header h1 {
    margin-top: 0;
    padding-top: 0.67em;
    font-family: 'Open sans';
    font-weight: 300;
    font-size: 3em;
}

h2 {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    padding-top: 105px;
    font-family: 'open sans';
    font-weight: 300;
    font-size: 2em;
}

p {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    font-family: 'open sans';
    font-weight: 300;
    font-size: 1.15em;
}

nav {
    margin: 25px;
    margin-top: 65px;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0px gray;
}

ul {
    min-height: 50px;
    padding-left: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: initial;
    list-style-position: inside;
    list-style-type: none;
}

nav li, footer li {
    margin: 10px;
    flex: 1 1 200px;
    justify-content: space-around;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.25em;
}

nav a, footer a {
    font-family: roboto;
    color: black;
    text-decoration-line: none;
}

main blockquote {
    max-width: 550px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 105px;
    margin-bottom: 10px;
    font-family: serif;
    font-size: 1.5em;
    font-style: italic;
    color: gray;
}

.albert-einstein {
    margin-top: -11px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: 'open sans';
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
}

#educacion {
    margin-top: 10px;
}

main a {
    font-family: 'open sans';
    color: blue;
    text-decoration-line: none;
}

#cosas-favoritas {
    margin-top: 80px;
    padding-top: 50px;
}

li p {
    margin: 25px;
}

footer {
    margin-top: 75px;
}

footer ul {
    margin-bottom: 0px;
    min-height: 75px;
}